<!doctype html>
<meta charset="utf-8">
<title>hello Word</title>
<header class="col-md-12">
</header>
<body class="container-fluid bg-info">

    <form action="{{ url_for('search') }}" method="post">
        <label>keyword</label>
        <input type="text" name="search_keyword" value="{{search_keyword}}">
        <label>hashtag:</label>
        <input type="text" name="search_hashtag" value="{{search_hashtag}}">
        <label>user name:</label>
        <input type="text" name="search_user" value="{{search_user}}">
        <label>start time:</label>
        <input type="text" name="start_at" value="{{start_at}}">
        <label>end time:</label>
        <input type="text" name="end_at" value="{{end_at}}">
        <input type="submit" value="submit" />

        <table>
            <tr><td>author</td><td>content</td><td>creat_at</td><td>retweet_count</td><td>favourite_count</td><td>hashtag</td></tr>
            {% for item in testItems %}
            <tr>
                <td>
                    <a href="#" onclick='dialogPop({{loop.index}})'>{{item.user_info.screen_name}}</a>
                    <div style="position:absolute;top:0;left:0; right: 0; bottom: 0; background-color:darkgray;opacity: 0.5;display: none;" onclick='dialogNone({{loop.index}})'
                         id="pop{{loop.index}}">
                    <table style="margin-top: 20%; margin-left: 40%;">
                        <tr><td>userid_str</td><td>screen_name</td><td>name</td><td>followers_count</td><td>favourites_count</td><td>statuses_count</td></tr>
                        <tr>
                            <td>{{item.user_info.userid_str}}</td>
                            <td>{{item.user_info.screen_name}}</td>
                            <td>{{item.user_info.name}}</td>
                            <td>{{item.user_info.followers_count}}</td>
                            <td>{{item.user_info.favourites_count}}</td>
                            <td>{{item.user_info.statuses_count}}</td>
                        </tr>
                     </table>
                    </div>
                </td>
                <td>{{item.text}}</td>
                <td>{{item.created_at}}</td>
                <td>{{item.retweet_count}}</td>
                <td>{{item.favorite_count}}</td>
                <td>
                    {% for hashtag in item.entities.hashtags %}
                    {{ hashtag.text }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
 
    </form>

    <script>
        let dialogPop = function(idx) {
            document.getElementById("pop" + idx).style.display = "inline"
        }
        let dialogNone = function(idx) {
            document.getElementById("pop" + idx).style.display = "none"
        }

    </script>
</body>
